* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container-75 {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

/* .clearfix.footer-top {
  content: "";
  display: table;
  clear: both;
} */

/* bottoni */
.button-orange {
  width: 119px;
  height: 26px;
  border-radius: 5px;
  padding: 7px;
  border: 1px solid #FC7959;
  color: white;
  background-color: #FC7959;
}
.button-orange-big {
  width: 119px;
  height: 26px;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #FC7959;
  color: white;
  background-color: #FC7959;
}
.button-white {
  width: 60px;
  height: 26px;
  border-radius: 5px;
  padding: 7px;
  border: 1px solid #FC7959;
  color: #FC7959;
  background-color: white;
}
/* /bottoni */

header {
  position: relative;
}

#header-top {
  width: 100%;
  height: 8vh;
  background-color: #EAF0F6;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#header-top-left {
  float: left;
  height: 8vh;
  line-height: 8vh;
  vertical-align: middle;
  padding-right: 20px;
}
#header-top-left a:nth-of-type(3) {
  padding-right: 20px;
}
#header-top-left a:last-child {
  border-left: 1px solid black;
  padding: 0;
}
#header-top-left a:last-child {
  padding-left: 20px;
}

#header-top-right {
  float: right;
  height: 8vh;
  line-height: 8vh;
  vertical-align: middle;
}
#header-top-right a:first-child {
  color: #36aec4;
  padding-right: 20px;
}
#header-top-right a:last-child {
  margin-left: 20px;
}

#header-bottom {
  width: 100%;
  height: 8vh;
  line-height: 10vh;
  vertical-align: middle;
  margin-top: 8vh;
}
#header-bottom-right {
  float: right;
  height: 8vh;
  line-height: 8vh;
  vertical-align: middle;
}
#header-bottom-right a {
  padding-left: 8px;
  padding-right: 8px;
}

#jumbotron {
  width: 100%;
  height: 63vh;
}
#jumbotron {
  background-color: #FEF6EF;
  background-image: url(../img/jumbotron.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}
#blue-row {
  width: 100%;
  height: 54px;
  background-color: #AFEBE5;
  border-top: 3px solid #33475D;
  border-bottom: 3px solid #33475D;
  position: absolute;
  bottom: 0;
  left: 0;
}

#containerh1 {
  width: 50%;
  height: 70%;
}
#containerh1 h1, p, a {
  padding-top: 20px;
  padding-bottom: 20px;
}
#containerh1 h1 {
  font-weight: 900;
}
#containerh1 a {
  display: block;
}

.container-top {
  width: 100%;
  height: 200vh;
  background-color: #F6F8FA;
  text-align: center;
}
.container-crm {
  width: 100%;
  height: 25%;
}
.container-crm.top {
  margin: auto;
  padding-top: 30px;
}
.container-crm.top img {
  width: 25%;
  padding-top: 3%
}
.container-crm.top h2 {
  font-weight: 900;
}
.container-crm.top p {
  padding-top: 5%;
}

.container-crm.bottom {
  background-color: white;
  margin: auto;
  margin-top: 30px;
}
#block-left {
  width: 30%;
  height: 100%;
  float: left;
}
#block-left img {
  width: 54%;
  float: left;
  padding-top: 66px;
  padding-left: 90px;
  padding-bottom: 30px;
}
#block-left a {
  float: left;
  margin-left: 86px;
}

#block-right {
  text-align: left;
  width: 70%;
  height: 100%;
  float: right;
}
#block-right h3 {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 30px;
}
#block-right h4 {
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 30px;
  padding-top: 25px;
}
#block-right i {
  color: orange;
}
#block-right span {
  padding-left: 15px;
  padding-right: 15px;
}

.column {
  margin-top: 40px;
  background-color: white;
}
.column.left {
  width: 30%;
  display: inline-block;
  float: left;
}
.column.center {
  width: 30%;
  display: inline-block;
}
.column.right {
  width: 30%;
  display: inline-block;
  float: right;
}
.column.left a, .column.center a, .column.right a {
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 20px;
}
.spessore {
  width: 80%;
  height: 100%;
  margin: auto;
}
.column img {
  width: 100px;
  height: 100px;
  padding-top: 50px;
}
.column h3 {
  padding-top: 20px;
  font-weight: bolder;
}
.column p {
  padding-bottom: 90px;
  border-bottom: 1px solid black;
}
.column h3,p {
  padding: 10px;
}
.column h4 {
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
}
.column span {
  display: block;
  text-align: left;
}
.column i {
  padding-right: 10px;
  color: #FC7959;
}

.container-mid {
  width: 100%;
  height: 80vh;
  background: rgb(32,172,182);
  background: linear-gradient(90deg, rgba(32,172,182,1) 35%, rgba(35,188,165,1) 100%);
  color: white;
  text-align: center;
  position: relative;
}
.learngrow h2 {
  padding-top: 4%;
  padding-bottom: 3%;
}
.learngrow p {
  padding-bottom: 4%;
}
.table {
  width: 100%;
  height: 100%;
}
.block {
  width: 24%;
  height: 27%;
  display: inline-block;
}
table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-collapse: collapse;
  border-style: hidden;
  width: 75%;
  height: 60%;
  margin-top: 5%;
}
td {
  padding: 20px 20px;
  border: 1px solid white;
}
td i {
  font-size: 32px;
}
#webp {
  height: 40px;
}
td i,td img, #webp{
  padding-bottom: 6%;
}
.table-count {
  width: 47px;
  font-size: 40px;
  font-weight: 900;
  display: inline;
}
td span {
  font-size: 22px;
  line-height: 100%;
  vertical-align: middle;
  font-weight: 100;
}
.description {
  padding-top: 5%;
}
.container-bottom {
  width: 100%;
  height: 80vh;
  background-color: white;
  color: #33475B;
}
.ncustomers {
  width: 28%;
  height: 32%;
  display: inline-block;
}
#number-customers {
  font-size: 60px;
  font-weight: 900;
  padding-left: 21px;
  padding-bottom: 20px;
  padding-top: 38px;
}
.ncustomers p {
  padding-left: 26px;
  padding-right: 36px;
}
.atlassian {
  float: right;
  width: 60%;
  height: 24%;
  display: inline-block;
}
.atlassian img {
  width: 100%;
  padding-top: 25px;
}
.startgrowing {
  width: 50%;
  height: 27%;
  margin-top: 60px;
  display: inline-block;
}
.startgrowing h2 {
  font-size: 34px;
  font-weight: 800;
  padding-bottom: 20px;
}
.container-bottom .button-orange-big {
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.woman {
  width: 170px;
  height: 350px;
  float: right;
}
.woman img {
  width: 300px;
}

.footer {
  width: 100%;
  height: 80vh;
  background-color: #2E3F50;
  color: white;
}

.footer-top {
  width: 100%;
  height: 100%;
}
.footer-block {
  width: 23%;
  height: 39%;
  display: inline-block;
  padding-top: 30px;
  line-height: 2.5;
}
.link-strong {
  margin-bottom: 30px;
  font-weight: bolder;
  line-height: 6.0;
}
.footer-block a {
  color: white;
  font-weight: lighter;
}

.sidebar {
  float: left;
  background-color: white;
  margin-right: 38px;
  position: relative;
  color: #2E3F50;
  padding: 4px 7px;
  border-radius: 5px;
  margin-top: 8px;
  cursor: pointer;
}

.footer-top i {
  float: left;
  padding: 13px;
  cursor: pointer;
}

.sidebar i {
  width: 19%;
  height: 6%;
  background-color: red;
}
